{
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "test": {
      //"plugins": ["dynamic-import-node"],
      "plugins": [
        [
          // "module-resolver",
          "dynamic-import-node",
          {
            "root": [
              "./src"
            ],
            "alias": {
              // "^@/(.*)$": "<rootDir>/$1",
              "@": "<rootDir>/src",
              "quasar": "quasar-framework/dist/quasar.esm.js",
              "^vue$": "vue/dist/vue.common.js",
              "src": "<rootDir>/src",
              "assets": "<rootDir>/src/assets",
              "components": "<rootDir>/src/components"
            }
          }
        ]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}


// env": {
//   "test": {
//     "presets": [
//       "env",
//       "stage-2"
//     ],
//     "plugins": [
//       [
//         "module-resolver",
//         {
//           "root": [
//             "./src"
//           ],
//           "alias": {
//             "^@/(.*)$": "<rootDir>/src/components/$1",
//             "quasar": "quasar-framework/dist/quasar.esm.js",
//             "^vue$": "vue/dist/vue.common.js",
//             "src": "<rootDir>/src",
//             "assets": "<rootDir>/src/assets",
//             "components": "<rootDir>/src/components"
//           }
//         }
//       ]
//     ]
//   }
// }
