{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^node:.*$", "<THIRD_PARTY_MODULES>", "^@/.*$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 2,
  "printWidth": 150,
  "semi": true,
  "singleQuote": true
}
