<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.productDescription %>"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" href="app-logo-128x128.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link rel="icon" type="image/ico" href="icons/favicon.ico" />
    <!-- <link
      rel="stylesheet"
      href="./assets/css/arborator-draft.css"
      type="text/css"
    />
    <link href="./assets/css/tags-style.css" type="text/css" rel="stylesheet" />

    <script src="./assets/js/snap.svg-min.js" type="application/javascript"></script>
    <script src="./assets/js/arborator-draft-snap.js" type="application/javascript"></script> -->
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
  <!-- Image par <a href="https://pixabay.com/fr/users/qimono-1962238/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1876659">Arek Socha</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1876659">Pixabay</a> -->
</html>
